# Project exclude paths
/test-fastdfs/target/
/test-rabbitmq-customer/target/
/test-rabbitmq-producer/target/
/test‐freemarker/target/
/xc-framework-model/target/
/xc-govern-center/target/
/xc-service-api/target/
/xc-service-base-filesystem/target/
/xc-service-manage-cms/target/
/xc-service-manage-cms-client/target/
/xc-service-manage-course/target/